<h1 class="center" style="color: greenyellow;">このIDはすでに登録済みです！</h1>
<h3 class="center" style="color: greenyellow;">ログインページへお進みください</p>

<p class="left">名前：<%= @name %></p>
<p class="center">メールアドレス:<%= @email %></p>
<p class="right">password:<%= @password %></p>

<button class= "btn"><a href="/login">ログインする！</a></button>