<form>

<h1 class="title">tokuharakenta application</h1>
<button class="btn" type="button"><a href="/form">体験談を投稿する</a></button>
<button class="btn" type="button"><a href="/news">体験談一覧を見る</a></button>
</form>