
<form action="/login" method="post">
    <p>
    <label for="name">名前</label><br>
    <input type="text" name="name" id="name" placeholder="名前を入力してください" required>
    </p>
    <p>
    <label for="password">パスワード</label><br>
    <input type="password" name="password" id="password" placeholder="パスワードを入力してください" required>
    </p>
    <p>
    <label for="email">メールアドレス</label><br>
  　<input type="email" name="email" id="email" placeholder="アドレスを入力してください" required>　
    </p>
    <p>
    <button class="button" type="submit">ログイン</button>
    </p>
</form>
